ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #004eaf;
}

li :hover {
  -webkit-transition: 200ms all;
  transition: 200ms all;
  color: #004394;
}

li * {
  text-decoration: none;
}

p {
  margin: 0;
}

:focus {
  outline: 0;
}

.border-bottom {
  border-bottom: 1px solid #555555;
}

header.container {
  padding: 2rem;
}

header.container nav {
  width: 100%;
}

header.container li {
  min-width: 33.33333%;
  text-align: center;
}

.coronavirusList {
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-items: center;
}

.coronavirusList tbody {
  border: 1px solid black;
  border-radius: 0.25rem;
}

.coronavirusList tr {
  background: #dddddd;
}

.coronavirusList td, .coronavirusList th {
  padding: 1rem;
  border-bottom: 1px solid black;
}

.coronavirusList .searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coronavirusList .searchInput {
  border-radius: 0.25rem 0 0 0.25rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid #555555;
}

.coronavirusList .formSubmit {
  border-radius: 0 0.25rem 0.25rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: 1px solid black;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coronavirusList #casesFilter {
  border-radius: 0.25rem;
  border: 1px solid black;
}

/* LOADER */
.loadingContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* LOADER */
/*# sourceMappingURL=style.css.map */